<?php include 'partials/parametres.php'; ?>
<link rel="icon" type="image/vnd.icon" href=" conques.ico">
<div class="header">
  
        <h1>📬 GestiCourrier-Conques V1.2</h1>
        <p><span style="font-weight:bold">G</span>estion <span style="font-weight:bold">É</span>lectronique de <span style="font-weight:bold">D</span>ocument - Mairie de Conques-sur-Orbiel
		<a href="./version.txt" target="_blank" style="margin:20px"><i class="fa-solid fa-code-branch"></i>Note de version</a> </p>

    	 <img src="<?php echo $urllogiciel; ?>img/logo-conques.jpg" alt="Logo" class="logo">
</div>
<div class="navbar">
    	<a href="<?php echo $urllogiciel; ?>index.php" id="nav-accueil"><i class="fas fa-home"></i></a>
    	<a href="<?php echo $urllogiciel; ?>arrive.php" id="nav-arrive" style="border-bottom:4px solid orange">📥Courriers entrants</a>
   		<a href="<?php echo $urllogiciel; ?>depart.php" id="nav-depart" style="border-bottom:4px solid green">📤 Courriers sortants</a>
    	<a href="<?php echo $urllogiciel; ?>contact.php" id="nav-contact" style="border-left: 2px solid white">📇 Contacts</a>
		<a href="<?php echo $urllogiciel; ?>categorie.php" id="nav-categorie">🗂️ Catégories</a>
		<a href="<?php echo $urllogiciel; ?>utilisateur.php" id="nav-utilisateur">👥 Utilisateurs</a>
		<a href="<?php echo $urllogiciel; ?>recherche.php" id="nav-reports" target="_blank" style="border-left: 2px solid white">🔎 Rechercher</a>
		<a href="<?php echo $urllogiciel; ?>parametrage.php" id="nav-parametrage" target="_blank" style="border-left: 2px solid white">🔧 Paramètres</a>
		<a href="<?php echo $urllogiciel; ?>logout.php" id="connexion" style="border: 3px solid white"><i class="fas fa-sign-out-alt"></i></a>
</div>
